.moviePic img{
	width:500px;
	height:500px;
	opacity:80%;
}
//position, top, width, text-align, font-size
.movieDetail{
	position:relative;
	top:20px;
	width:500px;
	text-align:right;
	font-size:900;
}